KC_DB=postgres
KC_DB_URL=jdbc:postgresql://172.20.10.2:5432/keycloak
KC_DB_USERNAME=tabunganku
KC_DB_PASSWORD=tabungankudb

KC_HOSTNAME=172.20.10.5
KC_HOSTNAME_ADMIN=localhost

KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin